<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- This is where a local feed source can be overridden, if needed. The default set of feeds is in the user's home -->
<!--
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="LocalFeed" value="C:/Dropbox/NuGetLocalFeed" />
  </packageSources>
  -->
</configuration>
